<div class="field">
    <label class="label">Title</label>
    <div class="control">
        {{input class="input" type="text" placeholder="Your title here..." value=title}}
    </div>
</div>
<div class="field">
    <label class="label">Category</label>
    <div class="dropdown {{if showDropdown 'is-active' ''}}" {{action 'toggleDropdown'}}>
        <div class="dropdown-trigger">
            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                <span>{{if category category.name 'Select...'}}</span>
                <span class="icon is-small">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                  </span>
            </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu" role="menu">
            <div class="dropdown-content">
                {{#each model.categories as |category|}}
                    <a href="#" class="dropdown-item" {{action 'setCategory' category}}>
                        {{category.name}}
                    </a>
                {{/each}}
            </div>
        </div>
    </div>
</div>

<div class="field">
    <label class="label">Description</label>
    {{textarea class="textarea" placeholder="Your description here..." value=body}}
</div>
<div class="field is-grouped">
    <div class="control">
        <button class="button is-link" {{action 'submitPost'}} disabled={{submitDisabled}}>Submit</button>
    </div>
    <div class="control">
        <a class="button is-text" {{action 'cancel'}}>Cancel</a>
    </div>
</div>

{{outlet}}
