<div class="wrapper">
    <div class="field is-grouped filter-posts">
        <p class="control">
            <a class="button is-success" {{action "newPost"}}>New Idea</a>
        </p>
        <p class="control">
            {{input class='input' placeholder='Search...' value=searchText}}
        </p>
        <p class="control">
            <div class="dropdown {{if showCategoryDropdown 'is-active' ''}}" {{action 'toggleCategoryDropdown'}}>
                <div class="dropdown-trigger">
                    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                        <span>{{if categoryFilter categoryFilter.name 'Select category...'}}</span>
                        <span class="icon is-small">
                        <i class="fa fa-angle-{{if showCategoryDropdown 'up' 'down'}}" aria-hidden="true"></i>
                      </span>
                    </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu" role="menu">
                    <div class="dropdown-content">
                        {{#each model.categories as |category|}}
                            <a href="#" class="dropdown-item" {{action 'setCategoryFilter' category}}>
                                {{category.name}}
                            </a>
                        {{/each}}
                    </div>
                </div>
            </div>
        </p>
        <p class="control">
            <div class="dropdown {{if showMainFilterDropdown 'is-active' ''}}" {{action 'toggleMainFilterDropdown'}}>
                <div class="dropdown-trigger">
                    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                        <span>{{mainFilter}}</span>
                        <span class="icon is-small">
                        <i class="fa fa-angle-{{if showMainFilterDropdown 'up' 'down'}}" aria-hidden="true"></i>
                      </span>
                    </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu" role="menu">
                    <div class="dropdown-content">
                        {{#each mainFilterTypes as |filterType|}}
                            <a href="#" class="dropdown-item" {{action 'setMainFilter' filterType}}>
                                {{filterType}}
                            </a>
                        {{/each}}
                    </div>
                </div>
            </div>
        </p>
        <p class="control">
            <a class="button is-link" {{action "clearFilters"}} disabled={{filtersCleared}}>Clear Filters</a>
        </p>
    </div>
</div>
<br>
{{#if displayedPosts}}
    {{#each displayedPosts as |post|}}
        {{post-item post=post comments=model.comments isDetail=false userProfile=userProfile userProfiles=model.userProfiles action='clearFilters'}}
        <br>
    {{/each}}
{{else}}
    <div class="wrapper">
        <p class="title is-3 has-text-centered">No ideas match these filters.</p>
    </div>
{{/if}}

{{outlet}}
