{{#if passwordSetComplete}}
    <p>Password has been set successfully.</p>
{{else}}
    <form {{action 'setPassword' on='submit'}}>
        <p>
            <label for="password">Password</label>
            {{input id='password' placeholder='Enter Password' type='password' value=password}}
        </p>
        <p>
            <label for="confirm_password">Confirm Password</label>
            {{input id='confirm_password' placeholder='Confirm Password' type='password' value=confirm_password}}
        </p>
        <p>
            <button type="submit">Set Password</button>
        </p>

        {{#if error}}
            <p>{{error}}</p>
        {{/if}}
    </form>
{{/if}}
