<div class="{{if isBaseComment 'base-comment' 'comment'}} rounded {{if indent 'indented' ''}} {{colorClass}}">
    <span class="subtitle is-6 has-text-weight-bold">{{comment.authorUsername}}</span><span> • {{format-date comment.date}}</span>
    <p>{{expand-line-breaks comment.text}}</p>
    <a {{action 'toggleReplyField'}}>{{if showReplyField 'Cancel' 'Reply'}}</a>{{#if userIsAuthor}} • <a {{action 'sendDeleteComment'}}>Delete</a>{{/if}}
    {{#if showReplyField}}
        <div class="field is-grouped reply-form">
            <p class="control is-expanded">
                {{textarea class="textarea" placeholder="Your reply here..." value=replyText}}
            </p>
            <p class="control">
                <a class="button is-info" {{action 'createReply'}} disabled={{submitDisabled}}>
                    Submit
                </a>
            </p>
        </div>
    {{/if}}
    {{#if children}}
        {{#each children as |child|}}
            {{comment-item comment=child indent=true allComments=allComments post=post userProfile=userProfile colorClass=childColor action='deleteComment' isBaseComment=false}}
        {{/each}}
    {{/if}}
</div>
{{yield}}
