<div class="card">
    <div class="card-content">
        <div class="content">
            <p class="title is-4">{{post.title}}</p>
            <p class="subtitle is-6">{{post.authorUsername}} - {{post.date}}</p>
            {{post.body}}
            <br><br>
        </div>
    </div>
    <footer class="card-footer">
        <div class="card-footer-item"><i class="fa fa-chevron-up fa-lg"/></div>
        <div class="card-footer-item">{{post.score}}</div>
        <div class="card-footer-item"><i class="fa fa-chevron-down fa-lg"/></div>
    </footer>
    <footer class="card-footer">
        <a class="card-footer-item" {{action 'toggleComments'}}>{{if showComments 'Hide' 'Show'}} Comments&nbsp;<i class="fa fa-chevron-{{if showComments 'up' 'down'}}"/></a>
    </footer>
    {{#if showComments}}
        <div class="card-content">
            <div class="content">
                <div class="field is-grouped">
                    <p class="control is-expanded">
                        {{textarea class="textarea" placeholder="Your comment here..." value=commentText}}
                    </p>
                    <p class="control">
                        <a class="button is-info" {{action 'createComment'}} disabled={{submitDisabled}}>
                            Submit
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="card-content">
            <div class="content">
                {{#each comments as |comment|}}
                    <div class="comment">
                        <span class="subtitle is-6 has-text-weight-bold">{{comment.authorUsername}}</span><span> - {{comment.date}}</span>
                        <p>{{comment.text}}</p>
                    </div>
                    <br>
                {{/each}}
            </div>
        </div>
    {{/if}}
</div>
{{yield}}
