<div class="card rounded">
    <div class="card-content">
        <div class="content">
            <p class="title is-4 post-title" {{action 'goToDetail' post.id}}>{{post.title}}</p>
            <p class="subtitle is-6">{{post.authorUsername}} • {{post.categoryName}} • {{format-date post.date}}</p>
            {{#if teammates}}
                <div class="teammates-subtitle">
                    <span class="has-text-weight-bold">Teammates: </span>
                    {{#each teammates as |teammate|}}
                        <span class="tag is-medium">
                            {{teammate.userUsername}}
                        </span>
                    {{/each}}
                </div>

            {{/if}}
            <p>{{expand-line-breaks post.body}}</p>
        </div>
    </div>
    <footer class="card-footer">
        <div class="card-footer-item vote-button {{if isVoting 'button-disabled' ''}}" {{action 'vote' 'up'}}><i class="fa fa-chevron-up fa-lg {{if voteTracker.upvoted 'has-text-success' ''}}"/></div>
        <div class="card-footer-item">{{ score }}</div>
        <div class="card-footer-item vote-button {{if isVoting 'button-disabled' ''}}" {{action 'vote' 'down'}}><i class="fa fa-chevron-down fa-lg {{if voteTracker.downvoted 'has-text-danger' ''}}"/></div>
    </footer>
    <footer class="card-footer">
        <a class="card-footer-item" {{action 'toggleComments'}}>Comments {{#if areComments}}({{commentsCount}}){{/if}}&nbsp;<i class="fa fa-chevron-{{if showComments 'up' 'down'}}"/></a>
    </footer>
    {{#if showComments}}
        <div class="card-content">
            <div>
                <div class="field is-grouped comment-form">
                    <p class="control is-expanded">
                        {{textarea class="textarea" placeholder="Your comment here..." value=commentText}}
                    </p>
                    <p class="control">
                        <a class="button is-info" {{action 'createComment'}} disabled={{submitDisabled}}>
                            Submit
                        </a>
                    </p>
                </div>
            </div>
            <div class="content">
                {{#each displayedComments as |comment|}}
                    {{comment-item comment=comment allComments=comments post=post colorClass='white-comment' userProfile=userProfile action='deleteComment' isBaseComment=true}}
                {{/each}}
            </div>
        </div>
    {{/if}}
</div>
{{yield}}
