<div class="field">
    <label class="label">Title</label>
    <div class="control">
        {{input class="input" type="text" placeholder="Your title here..." value=title}}
    </div>
</div>
<div class="field">
    <label class="label">Category</label>
    <div class="dropdown {{if showDropdown 'is-active' ''}}" {{action 'toggleDropdown'}}>
        <div class="dropdown-trigger">
            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                <span>{{if category category.name 'Select...'}}</span>
                <span class="icon is-small">
                    <i class="fa fa-angle-{{if showDropdown 'up' 'down'}}" aria-hidden="true"></i>
                  </span>
            </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu" role="menu">
            <div class="dropdown-content">
                {{#each sortedCategories as |category|}}
                    <a href="#" class="dropdown-item" {{action 'setCategory' category}}>
                        {{category.name}}
                    </a>
                {{/each}}
            </div>
        </div>
    </div>
</div>

<div class="field">
    <label class="label">Teammates</label>
    <div class="field">
        {{#if teammates}}
            {{#each teammates as |teammate|}}
                <div class="tag is-medium">
                    {{teammate.userUsername}}
                    <button class="delete is-small" {{action 'deleteTeammate' teammate}}></button>
                </div>
            {{/each}}
        {{/if}}
    </div>
    <div class="dropdown {{if searchText 'is-active' ''}}">
        <div class="dropdown-trigger">
            <div class="control">
                {{input class="input" type="text" placeholder="Add teammate..." value=searchText}}
            </div>
        </div>
        <div class="dropdown-menu" id="dropdown-menu2" role="menu">
            <div class="dropdown-content">
                {{#if searchResults}}
                    {{#each searchResults as |result|}}
                        <a class="dropdown-item" {{action 'addTeammate' result}}>
                            {{result.userUsername}}
                        </a>
                    {{/each}}
                {{else}}
                    <p class="dropdown-item">No results.</p>
                {{/if}}
            </div>
        </div>
    </div>
</div>


<div class="field">
    <label class="label">Description</label>
    {{textarea class="textarea" placeholder="Your description here..." value=body}}
</div>
<div class="field is-grouped">
    <div class="control">
        <button class="button is-link" {{action 'submitPost'}} disabled={{submitDisabled}}>{{if isEdit 'Save' 'Submit'}}</button>
    </div>
    <div class="control">
        <a class="button" {{action 'cancel'}}>Cancel</a>
    </div>
</div>
{{yield}}
