<div class="field">
    <label class="label">Old Password</label>
    <div class="control">
        {{input class="input" type="password" placeholder="Enter old password..." value=oldPassword}}
    </div>
</div>
<div class="field">
    <label class="label">New Password</label>
    <div class="control">
        {{input class=newPasswordClass type="password" placeholder="Enter new password..." value=newPassword}}
    </div>
    {{#if newPasswordSame}}
        <p class="help is-danger">Your new password cannot be the same as your old one.</p>
    {{/if}}
</div>
<div class="field">
    <label class="label">Confirm New Password</label>
    <div class="control">
        {{input class=confirmNewPasswordClass type="password" placeholder="Re-enter new password..." value=confirmNewPassword}}
    </div>
    {{#if passwordsDoNotMatch}}
        <p class="help is-danger">Your new passwords do not match.</p>
    {{/if}}
</div>
<div class="field is-grouped filter-posts">
    <p class="control">
        <button class="button is-link" {{action 'resetPassword'}} type="submit" disabled={{submitDisabled}}>Reset Password</button>
    </p>
</div>
{{#if resetFailed}}
    <article class="message is-danger">
        <div class="message-body">
            {{errorMessage}}
        </div>
    </article>
{{/if}}
{{#if resetSuccess}}
    <article class="message is-success">
        <div class="message-body">
            Password successfully reset.  Redirecting...
        </div>
    </article>
{{/if}}
{{yield}}
