<div class="field">
    <label class="label">Alarm.com Username</label>
    <div class="control">
        {{input class="input" type="text" placeholder="Enter username..." value=identification}}
    </div>
</div>
<div class="field">
    <label class="label">Email</label>
    <p>{{email}}</p>
</div>
<div class="field is-grouped filter-posts">
    <p class="control">
        <button class="button is-success" {{action 'register'}} disabled={{submitDisabled}}>Sign Up</button>
    </p>
</div>
{{#if signupComplete}}
    <article class="message is-success">
        <div class="message-body">
            Please check your inbox for an email from alarm.innovation.hub@gmail.com to complete the signup process.  Look in the spam folder if it does not appear in your inbox after a couple minutes.
        </div>
    </article>
{{/if}}
{{#if error}}
    <article class="message is-danger">
        <div class="message-body">
            We could not initiate the signup process with the given input. Please try again.
        </div>
    </article>
{{/if}}
{{yield}}
